body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    color:#000;
    background: url(fundo.jpg);
    background-repeat: no-repeat;
    background-position: 5% 10%;
    background-attachment: fixed; 
    background-size: cover;
}